.navDiv {
  background: #449dd1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  height: 40px;
  padding: 10px 50px;
  align-items: center;
  box-shadow: 0 4px 20px -2px#404242 ;
  border-bottom: #ffffff solid 2px;
}

.logo {
  height: 100%;
  display: flex;
  text-align: center;
  width: 30%;
  justify-content: space-evenly;
  font-family: "Acme", sans-serif;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}

.logo img {
  height: 100%;
}

.logo h2 {
  margin-top: 0;
  height: 100%;
  color: #ffffff;
}
